body {
  font-family: Dana;
  width: 100%;
  height: 100vh;
}
* {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 20px;
}
/* start sidebar*/
.container-right {
  width: 25%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.right {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0px 0;
}
/* start sidebar vote class */
.sidebar-vote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.img-vote img {
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 35px 20px 0px 0px;
}
.sidebar-title h4 {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end sidebar vote class */

/* start menu lists in sidebar  */
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
ul li a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 0 40px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #707070;
  background-color: #6d6875;
  width: 100%;
  min-height: 60px;
  margin: 5px 0;
}
.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*  icon and png in sidebar */
.img-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25px;
  height: 25px;
}
.img-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25px;
  height: 33px;
}
.img-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25px;
  height: 17px;
}
.image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
/* end icon and png in sidebar */

/* The text inside the menu list in the sidebar */
.name-admin {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 19px;
  color: #f5f5f5;
  padding: 0 22px;
}
.name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.admin {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
/* end the text inside the menu list in the sidebar */

/* hover menu list and color icon */
ul li:hover {
  background-color: #865760;
  transition: ease-in 0.03s;
}
.name-exit {
  color: #720004;
}
.list-exit {
  background-color: #e6e6e6;
  border: 0;
  margin-top: 50px;
}
.list-item:hover .name-exit {
  color: #ffffff;
  transition: ease-in 0.03s;
}
.list-item-exit {
  background-color: #e6e6e6;
  border: 0;
}
li a {
  padding: 10px 20px;
}
/* end menu lists in sidebar  */
/* end sidebar */

/* start sidebar in responsive mode  */
.mini-sidebar {
  display: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  background-color: #f5f5f5;
  border-radius: 5px;
  position: fixed;
}
.text-hover {
  display: none;
}
.small-sidebar {
  display: none;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.picture {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.list-item {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-exit a {
  display: flex;
  justify-content: center;
}
.arrow-mini-sidebar {
  width: 30px;
  height: 15px;
}
/* end sidebar in responsive mode */

/* start container left*/
.container-left {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 0 0 20px;
}
/* start section navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 15px 0px;
}
.right-nav {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-nav h1 {
  padding-left: 20px;
  font: black 28px;
}
/* left nav print button class */
.left-nav {
  width: 28%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.print-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.print {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666666;
  color: #ffffff;
  padding: 0 60px;
  border-radius: 5px;
  border: 0px;
}
.print:hover {
  background-color: #865760;
  transition: ease-in 0.03s;
}
.print img {
  width: 21px;
  height: 21px;
}
.print span {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 16px;
  padding: 0 10px;
  font-family: Dana;
}
/* end section navbar */

/* start menubar class */
.menubar {
  width: 100%;
  height: 65px;
  background-color: #f1f1f1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.menubar a {
  font-size: 16px;
  /* width: 200px; */
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  text-decoration: none;
  color: #404040;
  padding: 10px 10px;
  margin: 0 10px;
}
.menubar a:hover {
  background-color: #ffffff;
  border-radius: 5px;
  transition: ease-in 0.03s;
}
.right-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.left-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.left-menu {
  margin-left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.add-step {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.add-step a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 0px;
}
/* end menubar class */

/* start box class */
.box {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box div {
  margin: 3px 0;
}
form {
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 10px 0px; */
}
form input {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  font: 16px Dana;
  padding: 0 10px;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.2);
}
.election-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text class */
.text {
  width: 100%;
  height: 106px;
  display: flex;
  justify-content: center;
}
.text textarea {
  width: 100%;
  font: 16px Dana;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.2);
  padding: 10px 10px;
}
/* select group class */
.select-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
select {
  width: 100%;
  height: 58px;
  margin: 10px 0;
  padding-left: 20px;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.2);
  font: 16px Dana;
  padding: 0 5px;
}
#sweet {
  font: 16px Dana;
  color: #939393;
}
input:focus,
textarea:focus,
select:focus {
  outline-color: #52be60;
}
/* start apload-file class */
.upload-file {
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.2);
  display:flex;
  justify-content: space-between;
}
.upload-file input {
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
}
img .upload-png {
  width: 24px;
  height: 24px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
/* end */
/* start add new member */
.add-new-member{
  min-width: 100%;
  height: 72px;
  background-color:#E6E6E6;
}
.add-new-member select{
width:100%;
background-color: #E6E6E6;
}
/* start footer */
.footer {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer-right {
  width: 70%;
  height: 171px;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #ffffff;
}
.footer-right p {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  padding: 0px 20px;
}
.footer-right h6 {
  display: flex;
  color: #ffffff;
  font-size: 24px;
  padding: 30px 20px 10px 20px;
}
.footer-left {
  width: 30%;
  height: 171px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-left h6 {
  display: flex;
  color: #000000;
  font-size: 24px;
}
.footer-left p {
  font-size: 16px;
  color: #404040;
}
/* end footer */

/*media querys*/

@media only screen and (max-width: 1200px) {
  .right {
    width: 20%;
    margin-right: 20px;
  }
  .menu ul {
    width: 90%;
  }
  .name-admin {
    font-size: 14px;
    padding: 0 5px;
  }
  .print span {
    padding: 0 0;
  }
  .menu-list {
    width: 95%;
  }
  .sidebar-vote {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .sidebar-title {
    display: none;
  }
  li {
    width: 100%;
  }
  ul li a {
    padding: 0 0;
  }
  .image {
    padding: 0 7px;
  }
  .small-sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mini-sidebar {
    width: 12%;
    display: flex;
    position: fixed;
    justify-content: center;
  }
  .container-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
  }
  .container-left {
    width: 80%;
  }
  .list-exit {
    margin-top: 5px;
  }
  .footer-left p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .right {
    display: none;
  }
  .small-sidebar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    width: 80%;
    height: auto;
  }
  .mini-sidebar {
    width: 10%;
    display: flex;
    position: fixed;
    justify-content: center;
  }
  .container-right {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
  }
  .container-left {
    width: 90%;
  }
  .print {
    padding: 0 40px;
  }
  .right-nav {
    width: 70%;
  }
  .left-nav {
    width: 30%;
  }
  .footer-right {
    font-size: 14px;
  }
  .footer-right h6 {
    font-size: 18px;
    padding: 15px 10px;
  }
  .footer-left h6 {
    font-size: 20px;
  }
  .footer-left p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .right {
    display: none;
  }
  .small-sidebar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    width: 80%;
    height: auto;
  }
  .mini-sidebar {
    width: 10%;
    display: flex;
    position: fixed;
    justify-content: center;
  }
  .container-right {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
  }
  .container-left {
    width: 100%;
  }
  .right-nav {
    width: 75%;
    flex-wrap: nowrap;
  }
  .left-nav {
    width: 25%;
  }
  .print {
    padding: 0 10px;
  }
  .menubar {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 100%;
    padding: 10px 15px;
  }
  .menubar a {
    padding: 0 0px;
    display: flex;
    justify-content: flex-start;
  }
  .right-menu {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
  .container-left {
    width: 90%;
    flex-wrap: wrap;
  }
  .print span {
    font-size: 13px;
    display: inline-block;
  }
  .right-nav h1 {
    font-size: 22px;
  }
  .right-nav h2 {
    display: none;
  }
  .footer-right h6 {
    font-size: 18px;
    padding: 15px 10px;
  }
  .footer-left h6 {
    font-size: 20px;
  }
  .footer-left p {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: justify;
  }
}

@media only screen and (max-width: 576px) {
  .right {
    display: none;
  }
  .small-sidebar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    width: 90%;
    height: auto;
  }
  .list-item {
    height: 50px;
  }
  .mini-sidebar {
    width: 10%;
    display: flex;
    position: fixed;
  }
  .container-right {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    margin: 0 10px;
  }
  .container-left {
    width: 90%;
    flex-wrap: wrap;
  }
  .right-nav {
    width: 70%;
    font-size: 14px;
  }
  .right-nav h1 {
    font-size: 20px;
  }
  .right-nav h2 {
    display: none;
  }
  .left-nav {
    width: 25%;
  }
  .print span {
    display: none;
  }
  .menubar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
  }
  .mmenubar a {
    font-size: 8px;
    padding: 0 2px;
  }
  .right-nav h1 {
    font-size: 20px;
  }
  .print {
    width: 80%;
    height: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer-right h6 {
    padding: 0 0;
  }
  .footer-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    margin: 0 5px;
  }
}
